.cards-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem; */
    /* margin: 0 auto; */
    background-color: #fafafa;
}
.dummy-card-mobile{
    display: none;
}
.dummy-card-desktop{
    opacity: 0;
}