.cards-container {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem; */
  /* margin: 20px 0; */
  /* background-color: #fafafa; */
  /* position: absolute; */
  /* top: 240px; */
  width: 100%;
}
.dummy-card-mobile {
  display: none;
}
.dummy-card-desktop {
  opacity: 0;
}
.firstdropdown {
  border: none;
  border-bottom: gray 1px solid;
}
.seconddropdown {
  border: none;
  border-bottom: gray 1px solid;
}
.dropdown-container {
  display: flex;
}

.cards-container.cards_data .ant-row .ant-col {
  width: 90% !important;
}

@media (max-width: 620px) {
  .cards-container {
    position: absolute;
    top: 25%;
    width: 100%;
  }
}

/*****************pull****************/
.dropdown-container {
  display: flex;
  margin-top: 10px;
}
.lead-ml60 {
  margin-left: 60px;
}
.lead-ml15 {
  margin-left: 15px;
}

@media (min-width: 320px) {
  .dropdown-container {
    display: block;
    margin-top: 25px;
  }
  .lead-ml60 {
    margin-left: 30px;
  }
  .lead-ml15 {
    margin-left: 30px;
  }
}

@media (min-width: 920px) {
  .dropdown-container {
    display: flex;
    margin-top: 10px;
  }
  .lead-ml60 {
    margin-left: 60px;
  }
  .lead-ml15 {
    margin-left: 15px;
  }
}
