

.icon{
    font-size: 56px;
    color: #3b371e;
    background-color: #fff;
    z-index: 1000;
    /* z-index: -1; */
    position: fixed;
    bottom: 50px;
    right: 23px;
    border-radius: 28px;
    box-shadow: rgb(107, 100, 100) 0px 0px 4px;
}
.iconpfr{
    position: fixed;
    right: 34px;
}
.eventicon{
    bottom: 250px;
    background-color: #00ACC1;

}
.goalicon{
    bottom:224.5px;
    background-color: red;
}
.leadicon{
    bottom: 170px;
    background-color: #4caf50;
}
.newrecuirement{
    bottom: 213px;
    background-color: #4caf50;
}
.pgpfr{
    position: fixed;
    right: 83px;
}
.eventpg{
    
    bottom: 223px;
}
.goalpg{
    bottom: 216px;
}
.leadpg{
    
    bottom: 113px;
}
.recuirementpg{
    
    bottom: 205px;
}
.popover-icon{
    font-size: 30px;
    color: rgb(1, 180, 187);
}

.floatBtn .ant-btn {
    line-height: 1.5715;
    /* position: relative; */
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
    background: #fff;
}

.floatBtnsStyle{
    display: flex;
    height: 42px;
    width: 42px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}


@media (min-width:320px) {
    .leadpg{
        bottom: 107px;
    }
    .leadicon{
        bottom: 115px;
        background-color: #4caf50;
    }
    .eventicon{
        bottom: 170px;
        background-color: #00ACC1;
    
    }
    .eventpg{
    
        bottom: 164px;
    }
}

@media (min-width:992px) {
    .icon{
        bottom: 40px;
        right: 25px;
    }
    .iconpfr{
        right: 34px;
    }
    .pgpfr{
        right: 83px;
    }
    .eventicon{
        bottom: 162px;
    }
    .goalicon{
        bottom:216px;
    }
    .leadicon{
        bottom: 110px;
    }
    .eventpg{
        
        bottom: 155px;
    }
    .goalpg{
        bottom: 209px;
    }
    .leadpg{
        
        bottom: 107px;
    }

}
.content{
    /* display: flex; */
    position: fixed;
    right: 34px;
    bottom: 110px;
    /* transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out; */
}

.paragraph{
    display: inline-block;
    padding: 0px 10px;
    width:150px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /*flex-basis: 1 1 30px;
    */
}

