.main-container {
    margin: 0 auto;
    height: 20vh;
    /* padding-left: 5vw; */
    background-image: url('../../images/Bgimage.png');
    box-shadow:  1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-section{
    margin-left: 5vw;
}
.Head1 {
    margin-top: 1vw !important;
    color: #00ACC1;
    font-family: 'robotobold';
    font-weight: bolder;
    font-size: 36px !important;
}
.main-tab{
    margin-left: 0vw;
}
.birthday-btn {
    display: flex;
    width: 10vw;
    height: 4vh;
    padding-left: 3vw !important;
    padding-top: 3px;
    font-size: 20px;
    background-color: #D2DDE8;
    color: #7E95AD;
    border-width: 0px;
    justify-content: space-between;
}
.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
  }
  .gutter-box {
    padding: 5px 20px;
  }
@media (max-width:524px) {
    .main-container {
        margin-top: 4vw;
        background-image: none;
        height: 100vh;
        background-color: rgb(247, 247, 247);
    }
    .tabs {
        margin: 0 auto;
        background-color: #F7FBFF;
        justify-content: space-between;
        box-shadow: 0px 1px 2px #888, 0px -1px 2px #888;
    }
    .btn-section{
       margin-left: 0vw;
    }
    }