.TodoCards-Body .term,
.TodoCards-Body .value {
  font-size: 12px;
}
.TodoCards-Body .value {
  color: rgb(131, 131, 131);
}

.TodoCard-Container {
  /* box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); */
  /* padding: 1px; */
  margin-top: 10px;
  border: 1px solid #e6e9eb;
}
.TodoCards-Top,
.TodoCards-Body,
.Todo-Footer {
  padding: 0 10px;
}
.TodoCards-TimedateArchive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.TodoCards-TimedateArchive > img {
  height: 14px;
  width: 3px;
}
.archive-trueCheckBox {
  width: 30px;
  height: 30px;
}
.TodoCards-TopClock {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: bold;
  color: #f44336;
}
.TodoCards-TopClock p {
  margin-top: 10px;
  margin-left: 10px;
}
.Todo-Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.Todo-Footer p {
  font-weight: bold;
  font-size: 14px;
  margin-top: 11px;
}

.TodoCards-Body > div > input[type="checkbox"] {
  /* width: 10%; */
  margin-right: 20px;
  margin-top: 6px;
  /* padding: 10px; */
  /* opacity: 0; */
}
.TodoCards-Body > p {
  margin-bottom: 0em !important;
}
.TodoCards-Body {
  display: flex;
  align-items: center;
}
.TodoCard-Body-CheckBox > img {
  background-size: 100% 100%;
}
.TodoCard-Footer {
  background-color: #fafafa;
  padding: 6px;
}
.TodoCard-Footer-Main span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.TodoCard-Footer-Main > p {
  padding: 7px;
  border: 1px solid #c1c8cc;
  font-size: 12px;
  color: #837d72;
}
.Hamburger-Card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
  padding: 4px;
}
.Hamburger-Card > .ant-card-body {
  padding: 0 !important;
}
.Hamburger-Card > .ant-card-body > p {
  margin: 0;
  font-weight: 500;
  color: #5f5e5c;
}

.Hamburger-Edit {
  position: absolute;
  left: 62%;
  margin-top: 120px;
  width: 100px;
}
.Hamburger-Card > .ant-card-body > p > span {
  cursor: pointer;
}
.TodoCard-Container-Hamburger {
  /* position: absolute;
    left: 62%;
    margin-top: 120px;
    width: 100px; */
}
.textDecoration {
  text-decoration: line-through;
}
hr {
  margin: 10px 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

@media (min-width: 320px) {
  .todoCard-mr15 {
    margin-right: 15px;
  }
  .TodoCards-TopClock img {
    height: 17px;
    width: 17px;
  }
  .TodoCard-Body-CheckBox > img {
    height: 17px !important;
    width: 17px;
    border-radius: 2px;
  }
  .TodoCards-Body {
    /* border-top: 1px solid #e6e9eb; */
    /* padding: 10px 0; */
    padding: 10px;
    /* margin-left: 10px; */
    border-bottom: 1px solid #e6e9eb;
  }
  .Todo-Footer button {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 2px 1px -1px rgb(0 0 0 / 12%);
    background-color: #fb8c00;
    width: 85px;
    padding: 3px;
    border-radius: 4px;
    margin: 10px 0;
    border: none;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }
}

@media (max-width: 1020px) {
  .TodoCards-TopClock {
    /* font-weight: 500; */
    font-size: small;
  }
}
@media (max-width: 820px) {
  .TodoCards-TimedateArchive {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 860px) {
  .TodoCard-Container {
    width: 106%;
    margin-left: -13px;
  }
}
@media (max-width: 780px) {
  .TodoCard-Container {
    width: 100%;
    margin-left: 0;
  }
}
/* @media (max-width:770px){
    .TodoCard-Container{
        width: 92%;
    }
} */

/* @media (min-width: 992px){
.TodoCard-Body-CheckBox{
    display: block;
}
}
@media (min-width: 768px){
.TodoCard-Body-CheckBox {
    display: block;
}
}
@media (min-width: 320px){
.TodoCard-Body-CheckBox {
    display: block;
}
}
@media (min-width: 992px){
.TodoCard-Body-CheckBox {
    display: block;
}
} */
