/* .eventChange span{
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 7px 0 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    color: #585454;
} */
.Self-Container>.dataField>.dataField-Card>.head-cad-text{
    margin-left: 5PX;
    margin-top: 25px;
}
.Self-Container{
    margin: 20px 0 0 5px;
}
.eventChange span p{
    background-color: #545454;
    color: #fff;
    border-radius: 100px;
    font-size: 14px;
    width: 3%;
    margin: 0 20px;
}
.upcoming{
    font-size: 15px;
    font-weight: bold;
    color: #585454;
    margin-top:  10px;
    /* display: none; */
}
.remove{
    display: none;
}
@media (max-width:1370px){
    .upcoming{
        margin: 0;
        margin-top: 15px;
    }
    .upcoming>p{
        margin-left: 10px;
    }
}
@media (max-width:1302px){
    .EventName{
        padding: 0 10px 0 0 !important;
    }
}