/* .product-content{
  display: flex;
  height: 300vh;
} */
.header{
    background-image: url("https://pocbanca.iorta.in/assets/header-tabs.png");
    height: 200px;
    padding: 10px 20px;
    background-size: 100% 100%;
  }
  .header h1{
    color: #00ACC1;
  }
  .product-brochure{
    display: flex;
    flex-wrap: wrap;

  }
  .bi-table{
    width: 40vw;
  }
  /* .Clubsmaster-modal-style{
    width: 30vw;
  } */

  .bi-cancelbtn{
    /* display: flex;
    margin-left: 30vw;
    height: 4vh; */
    /* padding-top: 2vw; */
    /* justify-content: space-around; */
    margin-right: 10px;
    width: 20%;
    background-color: #01B4BB;
    color: #fff;   
}
.link-btn{
    /* display: flex; */
    /* height: 4vh; */
    /* padding-left: 2vw; */
    width: 15%;
    border-radius: 1px;
    text-align: center;
    background-color: #3b371e;
    color: #fff;
    padding-top: 5px;
    font-size: 12px;
}
.table-heading1{
  color: #fff;
  width: 8vw;
  height: 6vh;
  background-color: rgb(62, 62, 62);
}
.table-heading2{
  color: #fff;
  width: 10vw;
  height: 6vh;
  background-color: #01B4BB;  
}
.select-btn{
  border-color: #01B4BB;
  color: #01B4BB;
  width: 8vw;
}
.table-subdata{
  text-align: center;
  width: 10vw;
}
  .product-brochure>div{
    margin-right: 5px;
  }
  .product-brochure button{
    font-size: 12px;
    margin-top: 10px;
    display: block;
  }
  .ant-btn.primaryBtn{
    /* background-color: rgb(255, 255, 255); */
    background-color: transparent;
    color: rgb(60, 61, 61);
    border-radius: 20px;
    width: 190px;
    border: none;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  }
  .ant-btn.secondaryBtn{
    background-color: transparent;
    color: rgb(60, 61, 61);
    border-radius: 20px;
    width: 190px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  }
  .tabs{
    margin: 10px 0 20px;
    /* justify-content: space-around; */
  }
  .main-card1{
    padding: 30px;
    background: rgb(247, 251, 255);
  }
  .main-card2{

    padding: 0px 30px;
    background: rgb(236, 242, 249);
  }
  .main-card3{
    padding: 30px;
    background: #E0E9F3;
  }
  .benefit-head{
    display: flex;
    font-size: 24px;
  }
  
  /* .product-para{
    display: flex;
    flex-direction: column;
    font-size: 20px;
  } */
  .slNo{
    background:'#00ACC1';
    color:'#fff';
    border-radius:'80px';
    padding:'5px'
  }
  .MainContent{
    display: flex;
    
  }
  .image-slide{
    background-color: #fff;
    color: black;
  }
  .top-tab-header-active{
    background-color: #00ACC1 !important;
    color: #fff !important;
  }

  .loan-product-tabs .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab{
    padding: 4px 24px;
    box-shadow: 0px 3px 2px -1px rgb(0 0 0 / 18%);
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 16px;
  }
  .loan-product-tabs .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
    margin: 2px 0 0 0;
  }
  .loan-product-tabs .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane{
    padding-left: 0px;
  }
  .loan-product-tabs .first-card{
padding-left: 0px !important;
padding-right: 0px !important;

  }
  @media only screen and (min-width: 992px){
    .loan-product-tabs .circle-point {
      background-color: #5EA5C0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding-top: 5px;
      display: inline-block;
      text-align: center;
    
    color: #FFFFFF;
    font-family: robotobold;
    font-size: 14px;
    text-align: center;

  }
  .loan-product-tabs {
    width: 1280px;
    margin: 0 auto;
  }
  .loan-product-tabs .bullet-points{
    margin-left: 20px;
    width: 384px;
  }
  }
  @media only screen and (min-width: 320px) and (max-width: 992px){
    .loan-product-tabs .circle-point {
      background-color: #5EA5C0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding-top: 2px;
      display: inline-block;
      text-align: center;
      color: #FFFFFF;
      font-family: robotobold;
      font-size: 10px;
      text-align: center;


  }
  .loan-product-tabs .bullet-points{
    margin-left: 11px;
    width: 276px;
  }
  
  .tabs{
    margin-left: 2px;
    width: 2vw;
    justify-content: space-between;
  }
  .ant-btn.primaryBtn{
    /* background-color: rgb(255, 255, 255); */
    background-color: transparent;
    color: rgb(60, 61, 61);
    border-radius: 20px;
    width: 150px;
    border: none;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
  }
  .top-tab-header-active{
    background-color: #00ACC1 !important;
    color: #fff !important;
    
  }
  .main-card2{
    padding-left: 1vw;
    /* width: 150vw; */
    height: 120vh;
    background: rgb(236, 242, 249);
  }
  .loan-product-tabs {
    padding: 4px 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 2px -1px rgb(0 0 0 / 18%);
    /* width: 300px; */
    display: flex;
    align-items: stretch;
    font-size: 16px;
  }
  .loan-product-tabs {
    margin: 2px 0 0 0;
    
  }
  .loan-product-tabs {
    padding-left: 5vw;
  }
  .loan-product-tabs .first-card{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.main-card3 {
  display: none;
}
.benefit-btn{
  margin-top: 3vh;
  font-size: 12px;
  /* padding-left: 1px; */
}
.product-para{
  display: flex;
  width: 85vw;
  text-align: justify;
  flex-direction: column;
  font-size: 14px;
  margin-left: 1vw;
}
.benefit-main{
  display: flex;
  height: 200vh;
  padding-top: 1vw;
}
.benefit-head{
  display: flex;
  font-size: 18px;
  padding-left: 1vw;
}
.product_heading{
  display: flex;
  width: 100%;
  font-size: 16px;
  margin-left: 1vw;
}
/* .bullet-points {
  display: flex;
  text-align: justify;
  font-size: 14px;

} */
.loan-product-tabs .bullet-points{
  /* display: flex; */
  text-align: left;
  font-size: 14px;
  /* margin-left: 1vw; */
  
}
.header h1{
  color: #00ACC1;
}
.product-title{
padding-top: 1vw;
}
  }

/*Download icon*/
.anticon-download{
  margin-right: bold;
}
 /*inside Benefit illustration button components*/
 .Clubsmaster-modal-style{
  width: 800px !important;
 }
.Clubsmaster-modal-style .ant-modal-header{
  background-color: #3b371e;
  padding: 13px 22px !important;
}
/*-end-/ 

/*inside Benefit illustration trable design*/
.Clubsmaster-modal-style .ant-modal-footer{
 display: flex !important;
 justify-content: flex-end !important;
}
.Clubsmaster-modal-style-Table-Pagination{
  display: flex;
  flex-direction: row;
}
/*------end ---*/

.Clubsmaster-modal-style .ant-modal-title{
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
}
.ant-input{
  max-width: 50%;
  background-color: #e8e8e8;
  color: #000;
  margin-left: 20%;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
}
