.form-container{
    background-color: #fafafa;
    margin: 0 auto;
    /* overflow-x: hidden; */
    /* overflow-y: visible; */
}

/* .contact-details,.status{
    height: 20vh;
} */

/* .summary{
    height: 50vh;
} */

.contact-details,
.status,
.summary,
.btn-container{
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact-detail-form{
    display: flex;
    flex-wrap: wrap;
    gap:0 10px;
}
.contact-detail-form>.ant-col{
    flex:0 1 49%;

}
.form-item-name{
    margin-bottom: 5px;
}

.border-bottom,.border-bottom:hover{
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.border-bottom:focus-visible{
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;   
}

.btn-container{ 
    display: flex;
    justify-content: flex-end;
    gap:1.5rem;
    height: 10vh;
}
.label-color>.ant-form-item-label{
    color: rgb(159, 159, 159);
}

.botton-label{
    margin-bottom: 8px;
}
.lead-manager{
    margin-bottom: 16px;
}
@media (max-width:524px) {
    
    .contact-detail-form>.ant-col{
        flex:0 1 100%;
        
    }
    .btn-container{
        display: block;
        padding: 0;
    }
    .btn-container>.ant-btn{
        margin: 15px auto;
    }
    .btn-center{
        margin: 0 auto;
    }
    .cta-btn{
        margin-bottom: 1rem;
    }
    .btn-color{
        color: rgb(59, 55, 30)!important;
    }
    .ant-cascader-menu{
        height: auto;
    }
    .ant-cascader-menu-item{
        padding: 5px 5px;
        white-space: normal;
        width: 120px;
        line-height: 18px;
    }
}
