.Main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ececec;
    }
.Main-sub-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top: 5vw;
} 
.Head-tag1 {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: calc(12px + 0.4vw);
    font-weight: bold;
}
.Main-card {
    display: flex;
    flex-direction: row;
    /* margin-left: 3vw; */
    width: 90%;
    height: 6vh;
    margin-left: 6vw;
    margin-top: 2vw; 
}
.Paragraph {
    display: flex;
    flex-direction: column;
    font-size: calc(12px + 0.3vw);
    color: #9d9d9d;
    line-height: 0%;
}
.Head-tag2 {
    display: flex;
    flex-direction: column;
    /* margin-left: 3vw;
    margin-top: 3vw; */
    font-size: calc(10px + 0.3vw);
    font-weight: bold; 
}
.button {
    display: flex;
    flex-direction: column;
    background-color: #3b371e;
    color: #fff;
}

@media (min-width: 320px) and (max-width: 374) {
    .Main-content {
        /* display: flex; */
        flex-direction: row;
        /* height: 100vh; */
        /* background-color: #ececec; */
        }
    .Main-sub-content {
        display: flex;
        flex-direction: row;
        height: 100vh;
        background-color: #fff;
        margin-right: 4vw;
        margin-left: 4vw;
        margin-top: 5vw;
    } 
    .Head-tag1 {
        display: flex;
        flex-direction: row;
        margin-left: 3vw;
        margin-top: 3vw;
        font-size: calc(12px + 0.4vw);
        font-weight: bold;
    }
    .Main-card {
        /* display: flex; */
        flex-direction: row;
        /* margin-left: 3vw;
        width: 30%;
        height: 20%;
        margin-left: 5vw;
        margin-top: 2vw;  */
    }
    .Paragraph {
        display: flex;
        flex-direction: row;
        font-size: calc(12px + 0.3vw);
        color: #9d9d9d;
        line-height: 0%;
    }
    .Head-tag2 {
        display: flex;
        flex-direction: row;
        /* margin-left: 3vw;
        margin-top: 3vw; */
        font-size: calc(10px + 0.3vw);
        font-weight: bold; 
    }
.button {
    display: flex;
    flex-direction: row;
    background-color: #3b371e;
    color: #fff;
} 
}
/* .header {
    background-color: #3b371e;
} */
.ant-card-body{
    justify-content: center;
    background-color: #fff;
}
.h1 {
    background-color: white;
}
.p {
    background-color: white;
}

