.dropdown {
  position: relative;
  user-select: none;

  /* cursor: pointer; */
}

.Tean-Hierarchy {
  width: 25%;
}

.ant-select-arrow {
  margin-top: 0px;
}
.Team-CircleManager {
  width: 29%;
}
.Team-CircleManager > article {
  margin-left: 7%;
}
.dropDown-Container {
  display: flex;
}
.Team {
  margin: 20px 0 0 5px;
}
.Team > .PastFuture {
  padding: 8px;
  font-weight: bold;
}
.Circle-manager {
  position: relative;
}
.Team-Calender {
  margin: 20px auto;
}
.dropdown-btn {
  margin-top: 10px;
  padding: 8px;
  border-radius: 3px;
  background: #fff;
  font-weight: bold;
  color: #7f7f7f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.dropdown-btn-2nd {
  margin-left: 20px;
}
.dropdown-content {
  z-index: 1;
  position: absolute;
  top: 100%;
  padding: 10px;
  background: #fff;
  /* box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); */
  font-weight: 500;
  color: #7f7f7f;
  /* width: 99%; */
}
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown-item:hover {
  background-color: #f4f4f4;
}
.Team-Past {
  font-size: 14px;
  font-weight: bold;
  color: #545454;
}
.UpcomingOrPast {
  margin-left: 10px;
  margin-top: 20px;
}
.Team-Calender-row input {
  border-style: solid;
  border-color: #e6e9eb;
  color: #646666;
  outline: none;
}
.Team-Calender-Export {
  margin-top: 25px;
}
.Team-Information
  > .dataField
  > .dataField-Card
  > .dataContainer
  > .bodyData
  > .bodyData-side
  > span {
  visibility: hidden;
}
.Team-Information > .dataField > .dataField-Card > .head-cad-text {
  margin-top: 25px;
  margin-left: 5px;
}

.Team .download_report {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* margin: 0 10px; */
}

@media (max-width: 469px) {
  .Team .download_report {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5px 0;
  }
}

@media (min-width: 320px) {
  /* .ant-select {
        width : 100% !important;
    }
    .ant-select {
        margin-top: 0px !important;
    } */
  .dropdown-btn {
    padding: 0px !important;
  }
  .dropdown-btn-2nd {
    margin-left: 0px;
  }
  .dropdown-content {
    z-index: 1;
    position: absolute;
    margin-top: -55px;
    top: 100%;
    padding-top: 10px !important;
    padding: 0px;
    background: #fff;
    /* box-shadow: 3px 3px 10px 6px rgb(0 0 0 / 6%); */
    font-weight: 500;
    color: #7f7f7f;
    width: 99% !important;
  }
  .Team-Calender-row input {
    box-shadow: 0px 2px 2px #00000029;
    padding: 5px 0;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    border-color: rgb(230, 233, 235);
  }
  .Team-Calender-Export > button {
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    padding: 0;
    padding: 5px;
    background-color: #e46a25;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    width: 90px;
    color: #fff;
  }
  .Team-Calender-Export > button:hover {
    background-color: #e46a25;
    color: #fff;
  }
}
@media (min-width: 640px) {
  /* .ant-select {
        margin-top: 10px !important;
        height: 40px !important;
      } */
  .dropdown-btn,
  .dropdown-content {
    font-size: 14px;
    /* width: 25%; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
      0 2px 1px -1px rgb(0 0 0 / 12%);
    background-color: #fff;
    color: #838383;
    padding: 7px !important;
    border-radius: 3px;
    border-color: #fff;
  }
  .dropdown-content {
    width: 25%;
  }
  .dropdown-btn-2nd-dropdown-content {
    margin-left: 2%;
    width: 27%;
  }

  .Tean-Hierarchy {
    width: 37.5%;
  }

  .Team-CircleManager {
    width: 39.5%;
    margin-left: 25px;
  }
}
