.EventCreateButton{
    text-align: center;
}
.newEventTag{
    font-size: 14px;
    text-align: center;
}
.newEventTag img{
    background-size: 100% 100%;
    color: gray;
    margin: 5px 0;
}
.newEventTag article{
    margin: 5px 0;
}
.newEventTag button{
    margin:10px 0 5px 0;
}
@media (min-width: 240px){
.newEventTag img {
    width: 120px;
    height: 120px;
}
}