.lead-card-mobile{
    width: 80vw;
    text-align: left;
    border:0px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.lead-card-mobile>.ant-card-body{
    padding: 30px;
    display: flex;
    align-items: center;
}
.failed{
    color: red;
}
.converted{
    color: green;
}
.open{
    color: yellow;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}

.grid-style{
    /* padding: 10px; */
    padding: 0px 40px 10px 45px;
    box-shadow: none;
}
.ant-card-grid {
    width: -1% !important;
}
.grid-style>p{
    margin: 0;
}
.avatar-and-status{
    padding: 15px;
    text-align: center;
}
.avatar-and-status>span>span{
    font-size: 25px;
    text-transform: uppercase;
}
.ant-card-body>span>span{
    text-transform: uppercase;
}
.content-header{
    border: 1px solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #e8e8e8;
}

.card-content-text{
    margin-left: 6px;
}
.user-name-text{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}
.user-status-text{
    margin: 0;
    margin-top: 3px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

@media (min-width:620px) {
    .lead-card-desktop{
        width: 600px;
        margin:0 auto;
        background-color: #ffffff;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    .lead-card-desktop>.ant-card-body{
        padding: 5px;
        display: flex;
        align-items: center;
    }
    .user-name-text{
        margin: 5px 0;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
    }
    .user-id{
        margin-left: 10px;
        font-size: 12px;
        font-weight: 400;
    }
    .text-type{
        font-size: 11px;
        font-weight: 400;
        color: #9d9d9d;
    }
    .text-content{
        font-size: 12px;
        font-weight: 600;
    }
    .update-btn{
        margin: 0 10px 7px -10px;
        padding: 0.4rem 1.2rem;
        background-color: #ffffff;
        color: #000000;
        align-self:flex-end;
        flex-grow: 1;
        font-weight: 500;
        font-size: 11px;
        border:1.2px solid #000;
        cursor: pointer;
        border-radius:2px;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        -ms-border-radius:2px;
        -o-border-radius:2px;
    }
}