.bodyData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dataField {
  margin-top: 15px;
}
.dataField-Card {
  border-bottom: 1px solid #efeded;
}
.bodyData-Date p:nth-child(1) {
  background-color: #f4f4f4;
  font-weight: bold;
  margin: 0;
  font-size: 12px;
  color: rgb(60, 61, 61);
}
.bodyData-Date span {
  margin-left: 5px !important;
  color: rgb(60, 61, 61) !important;
}
.bodyData-Date p:nth-child(2) {
  background-color: #5da5c0;
  font-weight: bold;
  margin: 0;
  color: #fff;
  font-size: 12px;
}
.bodyData-centerContent {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
@media (min-width: 320px) {
  .head-cad-text > p {
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    margin-top: 10px;
  }
}
.TimeToEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  /* font-weight: bold; */
  width: 75px;
  padding: 5px;
  margin-left: 5px;
}
.TimeToEnd-mbl {
  font-size: 12px;
  font-weight: bold;
}
.TimeToEnd-mbl article {
  color: #acacb4;
  letter-spacing: 1px;
  font-weight: bold;
}
.TimeToEnd article {
  color: #acacac;
  letter-spacing: 1px;
  font-weight: bold;
}
.Event-CenterBody {
  width: 100%;
}
.Event-CenterBody-BranchName {
  color: #189eb4;
  font-size: 12px;
  font-weight: bold;
  /* margin-bottom: 5px; */
}
.Event-Type-Name {
  display: flex;
}
.EventType article {
  font-size: 12px;
}
.EventType {
  padding-right: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.EventName-Description {
  padding-left: 25px;
  margin-top: 10px;
  font-weight: bold;
}
.EventType article:nth-child(2) {
  font-size: 12px;
  color: #acacac;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 5px;
}
.EventName-Description article {
  font-size: 12px;
}
.EventName-Description article:nth-child(2) {
  color: #969999;
  font-size: 12px;
  font-weight: 500;
  width: 300px;
  margin-top: 5px;
}
.bodyData-side {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid #e6e9eb;
}
.bodyData-side > .ant-typography {
  margin-left: 10px;
  font-size: 12px;
}
.bodyData-side > .Close {
  color: #e46a2c;
}
.bodyData-side > .Open {
  color: #18a4c5;
}
.bodyData-side span {
  margin-left: 10px;
  font-size: 18px;
}
.dataContainer > .footer {
  text-align: center;
  font-size: 11px;
  color: #acacb4;
  margin: 10px 0;
}
.footer > .ant-typography {
  margin-left: -325px !important;
  font-size: 12px;
  color: #acacac;
  font-weight: 500;
  text-transform: capitalize;
}

.dataContainer {
  margin-top: 20px;
}
.bodyData-Date > p {
  padding: 4px;
  text-align: center;
  width: 85px;
  height: 26px;
}
@media (max-width: 420px) {
  .bodyData-side {
    justify-content: flex-start !important;
  }
  .bodyData-Date p {
    height: 30px !important;
  }
}
@media (min-width: 320px) {
  .bodyData-Date {
    width: 100px;
  }
  .bodyData-Date > p {
    padding: 4px;
    text-align: center;
    width: 85px;
    height: 26px;
  }
  .footerPng {
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 1256px) {
  .bodyData {
    justify-content: safe;
  }
  .dataField-Card {
    width: 110%;
  }
  .dataField {
    overflow-x: auto;
    /* margin-top: -10px; */
  }
}

@media (max-width: 1180px) {
  .dataField-Card {
    width: 120%;
  }
}
@media (max-width: 1124px) {
  .dataField-Card {
    width: 130%;
  }
}
@media (max-width: 1050px) {
  .dataField-Card {
    width: 140%;
  }
}
@media (max-width: 980px) {
  .dataField-Card {
    width: 150%;
  }
}
@media (max-width: 916px) {
  .dataField-Card {
    width: 160%;
  }
}
@media (max-width: 860px) {
  .dataField-Card {
    width: 170%;
  }
}
@media (max-width: 820px) {
  .dataField-Card {
    width: 180%;
  }
}
@media (max-width: 770px) {
  .dataField-Card {
    width: 120%;
  }
}
