/* .kdmStyle .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #565656;
  text-shadow: 0 0 0.25px currentcolor;
}

.kdmStyle .ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
  font-size: 14px;
} */

.remarkTab .ant-tabs-tab-active {
  background-color: #fff;
}

.kdmStyle .ant-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 13px;
}

.kdmStyle .ant-btn .anticon.anticon-plus > svg {
  shape-rendering: optimizespeed;
  height: 18px;
  width: 18px;
}
.kdmTabs{
  padding: 2px 15px 2px 15px;
  border-radius: 20px;
  /* background-color: #3a361d; */
  background-color: #fff;
  margin-right: 10px;
  box-shadow: 0px 4px 6px rgba(68, 68, 68, 0.08);
}

.kdmTabsActive{
  background-color: #3a361d;
}
/* .kdmStyle
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 15px;
} */

.risk-add {
  /* padding: 40px; */
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 300px;
  width: 48.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
}

/* .kdm-tabs {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  justify-content: center;
}
.kdm-tabs .ant-tabs-nav-list {
  height: 34px;
} */

.remarkTab .ant-tabs-tab {
  min-width: 170px;
  justify-content: center;
}

.remarkTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00ACC1;
  text-shadow: 0 0 0.25px currentcolor;
}

.remarkTab .ant-tabs-ink-bar {
  position: absolute;
  background: #00ACC1;
  pointer-events: none;
}

.compIntContainer{
  margin: 2rem 4rem 3rem 4rem;
}

.app-card-head{
  background-color:#ffff;
  flex:1;
  /* padding:10px; */
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  box-shadow: 0px 2.86081px 17.1648px rgba(16, 36, 43, 0.1)
}

.compIntStyle .ant-card-body {
  padding: 0px;
}
.app-font{
  font-size: 16px;
  font-weight: 500;
  color: #5C596E;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-font{
  font-size: 14px;
  font-weight: 500;
  color: #5C596E;
  margin-bottom: 0px;
}
.label-font{
  font-size: 12px;
  font-weight: 400;
  color: #adb5bd;
  margin-bottom: 0px;
}

.risk-card-det {
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 300px;
  width: 48.5%;
  margin-bottom: 20px;
}
.risk-profile {
  height: 60px;
  width: 60px;
  background-color: #8ae1ec;
  opacity: 0.4;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.risk-profile-name {
  color: #00acc1;
  font-size: 18px;
  font-weight: 600;
}

.kdmStyle .ant-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  border-top: 2px solid rgba(0, 0, 0, 0.06);
}

.modalStyle .ant-modal-header {
  padding: 16px 24px;
  color: #fff;
  background: #3a361d;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.modalStyle .ant-modal-title {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}
.modalStyle .ant-modal-close {
  position: absolute;
  top: -3;
  right: 0;
  z-index: 10;
  padding: 0;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}
.cancelBtn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* border-radius:5; */
  border: 1px solid #3a361d;
}

.submitBtn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* border-radius:5; */
  color: #ffff;
  background-color: #3a361d;
  margin-left: 10px;
}
.ant-btn-lg {
  height: 40px;
  padding: 6.4px 15px;
  font-size: 16px;
  border-radius: 6px;
}

/* .ant-tabs-nav-operations {
  width: initial !important;
} */

/* .modalStyle .ant-modal {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    pointer-events: none;
    position: relative;
    top: 100px;
    width: 700px;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    padding-bottom: 24px;
} */
.data-field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
}
.wrapper1{
  display: flex;
  flex-direction: row;
  /* width: 200px; */
}
.wrapper2{
  display: flex;
  flex-direction: row;
}
.page{
  margin-right: 10px;
}
.eye{
  margin-right: 10px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .secnd-col-responsive{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 920px) {
  .secnd-col-responsive{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
