
.cardHolder {
  margin-bottom: 30px;
  /* margin: 0 auto; */
   /* display: flex; */
  /* flex-wrap: wrap;
  flex-direction: row;
  padding: 30px 0px;
  justify-content: center;  */
  margin-left: 80px;
  margin-right: 80px;
}
.dummy-home-card {
  width: 419px !important;
}

.cardHolder .dataCard {
  width: 400px !important;
  height: 380px !important;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: rgb(107, 100, 100) 0px 0px 4px;
}
.dataCard .events-body .stars {
  width: 120px !important;
  height: 120px !important;
  margin: 30px 115px 10px;
  /* display: flex; */
  margin: 30px 60px 10px 118px;
}
.dataCard .events-body .stars1 {
  width: 180px !important;
  height: 180px !important;
  /* display: flex; */
  margin: 30px 60px 10px 80px;
}

.card-content {
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
/* .ant-card-body {
    justify-content: center;
    background-color: transparent;
    color: white;
} */
.activity-icon {
  align-items: flex-start;
  float: left;
  cursor: pointer;
}
.activities-text {
  display: inline-block;
  margin-left: 5%;
}
.events-body {
  background-color: #fff;
  height: 78%;
  width: 100%;
  border-radius: 5px;
  margin-top: 30px;
}
.todo-body {
  background-color: #fff;
  height: 230px;
  width: 320px;
  border-radius: 5px;
}
.action-cards-content {
  padding: 20px;
  margin-top: 50px;
  overflow-y: scroll;
  height: 220px;
}
.activity-block {
  margin-top: 50px;
  overflow-y: scroll;
  height: 220px;
}
.activity-block .action-cards-content-activity {
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 6px;
}
.action-cards-content::-webkit-scrollbar {
  display: none;
}
.activity-block::-webkit-scrollbar {
  display: none;
}
.action-cards-content div {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 80px;
  padding: 5px;
}
.rewardscorner-text {
  padding: 60px;
}
.salesGuideCont {
  display: flex;
  /* column-gap: 10px; */
  text-align: center;
  margin: 0;
  margin-top: 70px;
  float: none;
}
.salesGuideCont div {
  width: 110px;
  border-right: 1px solid #fff;
  color: #fff !important;
  height: 120px;
  text-align: center;
}
.salesGuideCont div h1 {
  color: #fff !important;
  font-size: 50px;
  text-align: center;
}
.salesGuideCont div p {
  color: #fff !important;
  text-align: center;
}
.salesGuideCont div:first-child {
  text-align: left;
}
.salesGuideCont div:last-child {
  border: none;
  text-align: center;
}
.sales-guide-content {
  margin-top: 40px;
}
.b1-content {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.sales-content {
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.birthday-slides {
  text-align: center;
  padding: 20px;
  margin-top: 190px;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
}
.action-cards-content {
  padding: 0;
}
/* .ml10{
  margin-left: 90px;
} */

@media screen and (min-width: 320px) {
  .home-ml10{
    margin-left: 10px;
  }
  .cardHolder .dataCard {
    width: 370px !important;
    /* flex: 1; */
    height: 380px !important;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: rgb(107, 100, 100) 0px 0px 4px;
  }
  .cardHolder{
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  
  .cardHolder{
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 992px) {
  .home-ml10{
    margin-left: 100px;
  }
  .cardHolder{
    margin-left: 80px;
    margin-right: 80px;
  }
  .cardHolder .dataCard {
    width: 400px !important;
    /* flex: 1; */
    height: 380px !important;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: rgb(107, 100, 100) 0px 0px 4px;
  }
}

/* @media screen and (min-width: 900px) {
  .ml10{
    margin-left: 80px;
  }
} */



/* @media screen and (min-width: 390px) {
  .cardHolder .dataCard {
    width: 400px !important;
    height: 380px !important;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: rgb(107, 100, 100) 0px 0px 4px;
  }
} */

