.main-body{
    padding: 200px;
    background-image: url('../images/Bgimage.png');
    overflow: hidden;
    height: 100vh;
}
.ant-card-body{
    justify-content: center;
    background-color: #3e3e3e;
}
.horline{
    margin:0;
    padding: 0; 
    background-color: #1FB3AB; 
    border: 0; 
    height:1px;
    width: 200%;
}
.ant-btn-primary:hover {
    background-color: #1FB3AB;
}
.sendlinkbtn{
    background: #1FB3AB;
    color: #fff;
    height: 40px;
    border-color: transparent;
}
.login-card{
   width: 400px;
   margin: auto;
}
.logo{
    text-align: center;
}
.forgotpasstext{
    text-align: center;
    color: #1FB3AB;
    font-size: 28px;
    margin: 18px;
}
.Logintext{
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}