/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.sideMenu {
  /* height: calc(100vh - 60px); */
  height: auto;
  position: fixed;
  right: 0;
  top: 60px;
  /* bottom: 0; */
  width: 350px;
  z-index: 10;
  background-color: #fff;
  box-shadow: rgb(107, 100, 100) 0px 0px 4px;
}
.menuHeader {
  display: flex;
  /* column-gap: 20px; */
  padding: 15px;
  align-items: center;
}
.profileLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #056491;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.profileLogo p {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin: 0;
}
.profileData p {
  margin-bottom: 0;
  font-size: 13px;
}
.profileData p:first-child {
  color: #e46a25;
}

.menuBody {
  background-color: #f7f7f7;
  /* height: calc(100vh - 160px); */
  overflow-y: auto;
}
/* .menuBody1{
  height: 320px;
} */
.logoutContainer {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoutContainer button {
  outline: 0;
  border: 0;
  width: 120px;
  height: 30px;
  color: #000;
  background-color: #fff;
  box-shadow: 0px 1px 2px #000;
  font-weight: 500;
  font-size: 16px;
}

.menuBody::-webkit-scrollbar {
  display: none;
}
.menuList p {
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 10px !important;
  font-size: 18px;
}
.menuList ul li {
  list-style: none;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #0000002a;
  cursor: pointer;
}
.menuList ul li:first-child {
  border-top: 1px solid #0000002a;
}
.menuList ul li img {
  width: 25px;
}
.menuList ul li span {
  font-size: 14px;
  margin-left: 10px;
}
.lead-icon {
  background-image: url("./leadDashboard.webp");
  background-size: 100% 100%;
  height: 20px;
  border: none;
  outline: none;
  width: 20px;
  margin-left: 10px;
  margin-bottom: -16px;
}

.sideMenu1 {
  /* height: calc(100vh - 77px); */
  position: fixed;
  right: 60px;
  /* bottom: 0px; */
  top: 60px !important;
  width: 340px;
  z-index: 10;
  background-color: #fff;
  box-shadow: rgb(107 100 100) 0px 0px 4px;
  height: auto;
}

.notificationHead p {
  font-size: 16px;
  color: #00acc1;
  font-weight: 700;
  margin-bottom: 0;
}

.notificationHead {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.notificationHead button {
  font-size: 14px;
  color: #3c3d3d;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  width: 95px;
  border: none;
}

.notification_footer {
  background-color: #ffffff;
  padding: 12px;
  border-top: 1px solid #e3e3e3a6;
  z-index: 29;
  text-align: center;
}
.view_button button {
  padding: 2px;
  width: 95px;
  align-items: center;
  background-color: rgb(228, 106, 37);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.logoutContainer1 img {
  height: 85px;
}
.logoutContainer1 {
  text-align: center;
  margin-top: 6rem;
  /* margin-bottom: 7rem; */
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f7fbff;
  position: absolute;
  top: -14px;
  right: 8px;
}

.notification_data {
  padding: 12px;
  display: flex;
}

.list_data {
  width: 80%;
}
.list_data h4 {
  color: rgb(228, 106, 37);
  font-size: 14px;
  font-weight: 700;
}

.list_data p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.date p {
  font-size: 10px;
  margin-top: 9px;
  color: #919090;
}

.notification_status button {
  width: 85px;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(251, 140, 0);
  color: #fff;
  justify-content: right;
  border: none;
  font-size: 12px;
}
.notification_status {
  justify-content: end;
  text-align: end;
  margin-top: -15px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.activity-block1 {
  margin-top: 0px;
  overflow-y: scroll;
  height: 300px;
}
.activity-block1::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hr-line {
  margin: -6px !important;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.modal-backdrop {
  --bs-backdrop-bg: none;
}
.dot {
  background-color: red;
  height: 8px;
  width: 8px;
  border: 1px solid red;
  position: absolute;
  border-radius: 5px;
  right: 16px;
  top: 30px;
}
.indicationArrowProfile{
  content: "\A ";
  border-style: solid;
  border-width: 7px 9px 11px;
  border-color: transparent transparent rgb(255, 255, 255);
  position: absolute;
  top: 42px;
  right: 135px;
  z-index: 99999;
}
.indicationArrowNotif{
  content: "\A ";
  border-style: solid;
  border-width: 7px 9px 11px;
  border-color: transparent transparent rgb(255, 255, 255);
  position: absolute;
  top: 42px;
  right: 192px;
  z-index: 99999;
}
.brand_logo{
  width: 94px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  height: 30px;
  object-fit: cover;
}
.header_hamburger{
  color: #0054A5 !important;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 436px) {
  .kvtQTN {
    position: relative !important;
  }
  .brand_logo{
    width: 95px;
    height: 34px;
  }
 
}
