/* my work */
/* .header.resourceCenter{
    background-image: url('https://pocbanca.iorta.in/assets/header-tabs.png');
    background-size: 100% 100%;
    height: 150px;
    padding: 20px 35px;
}

.product-title{
    font-size: 29px;
    color: #00ACC1;
    margin-bottom: 5px !important;
    font-weight: 750;
}

.resourceCenter.primaryBtn.top-tab-header-active{
    background-color: #0aacc1;
    color: #fff;
}

.resourceCenter.primaryBtn{
    background-color: #fff;
    color: #0aacc1;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 0 30px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0,3);
} */


/*end my work*/

.header{
    background-image: url("https://pocbanca.iorta.in/assets/header-tabs.png");
    background-size: cover;
    height: 11rem;
    /* width: 100%; */
    margin-bottom: 10px;
    margin-top: -1rem;
    /* padding: 10px 20px; */
    padding: 15px;
    /* background-size: 100% 100%; */
}
.header h1{
    color: #00ACC1;
}

.product-title{
    /* padding-top: 1vw; */
    font-size: 32px;
    font-weight: bold;
    color: #00ACC1;
    margin-left: 40px;
}

.tabs{
    margin-left:40px;
}

.ant-btn.primaryBtn{
    /* background-color: rgb(255, 255, 255); */
    background-color: #D2DDE8;;
    color: rgb(60, 61, 61);
    border-radius: 20px;
    width: 190px;
    border: none;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.ant-btn.primaryBtn{
    /* background-color: rgb(255, 255, 255); */
    background-color: #D2DDE8;;
    color: rgb(60, 61, 61);
    border-radius: 20px;
    width: 190px;
    border: none;
    justify-content: space-between;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
}

.top-tab-header-active{
    background-color: #00ACC1 !important;
    color: #fff !important;
}


.active{
    background-color: #00acc1; /* Green */
    color: white;
}

.inactive{
    color : '#646666';
    background-color: white;
}

/* .ant-card-body {
    padding: 10px;
} */

.dropactive{
    background-color: #00acc1; /* Green */
    color: white;
}

.dropinactive{
    background-color: rgb(247, 247, 247);
    color: black;
}

.card_img{
    object-fit: contain;
    width: 100%;
}

.maincard{
   display: flex;
   /* justify-content: space-between; */
   align-items: flex-start;
   flex-wrap: wrap;
   margin-bottom: 10px;
}

.share_button{
    position: absolute;
    top: -10px;
    right: -8px;
    background: #fff;
    border-radius: 50px;
    padding: 20px;
    font-size: large;
    padding: 12px;
    color: #00acc1;
    font-weight: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card_img{
    width: 100%;
    height: 260px;
    object-fit: contain;
}

.card{
    margin-bottom: 17px;
}

.card .ant-card-body{
    padding:0 !important;
}

/* .content{
    background-image: url('../../assets/contentback.png');
} */

@media screen and (max-width:992px) {
  .options{
    display: none;
}  
.card{
    align-items: center;
    display: flex;
}
/* .ant-card{
    height: 100vh;
} */
}
@media screen and (min-width:993px) {
    /* .options{
      display: none;
  }   */
  .dropdown{
    display: none;
  }
  .sideBar,.contentMain{
      height: 100vh;
  }
  }

  .active{
    background-color: #00acc1; /* Green */
    color: white;
}

.card_body .ant-card-body{
    padding: 0 !important;
}

.inactive{
    color : '#646666';
    background-color: white;
}

/* .resourceCenter.primaryBtn.top-tab-header-active{
   background-color: gray;
} */

.dropactive{
    background-color: #00acc1; /* Green */
    color: white;
}

.dropinactive{
    background-color: rgb(247, 247, 247);
    color: black;
}

/* .content{
    background-image: url('../../assets/contentback.png');
} */

@media screen and (max-width:992px) {
  .options{
    display: none;
}  
.card{
    align-items: center;
    display: flex;
}
/* .ant-card{
    height: 100vh;
} */
}
@media screen and (min-width:993px) {
    /* .options{
      display: none;
  }   */
  .dropdown{
    display: none;
  }
  .sideBar,.contentMain{
      height: 100%;
  }
}


/* card-  content */
.Body_text{
    padding: 8px;
    font-family: robotobold;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}
.Body_text2{
    padding-left: 8px;
    font-family: robotobold;
    font-size: 11px;
    font-weight: 500; 
    color: rgb(73, 72, 72);
    letter-spacing: 1px;
}

.cardbutton.block{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px;
    padding: 7px 20px;
}

.article_modal, .article_modal .ant-modal-content{
    height: 95%;
    background-color:rgb(240, 240, 240);
}

.article_modal .article_content{
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
    margin: 10px 0;
}

.article_modal .ant-modal-body{
   height: 100%;
   padding: 18px;
}

.center_icon{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    /* background-image: url("https://pocbanca.iorta.in/assets/Group19142x.png"); */
    width: 20px;
    height: 20px;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    /* background-color: rgb(255, 255, 255); */
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-shadow: inset;
    font-size: 12px;
    font-weight: 700;
  }
  .Card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }