.page-holder{
    margin-top: 2rem;
    text-align: center;
}

.page-holder>ul>.ant-pagination-item a{
    font-size: 10px;
    font-weight: bold;
    background-color: #ffffff;
    color: #545454;
}
.page-holder>ul>.ant-pagination-item-active a{
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: #545454;
}

.page-holder>ul>.ant-pagination-item {
    font-size: 10px;
    font-weight: 500;
    background-color: #ffffff;
    color: #545454;
    border-color: #E8E8E8;
}
.page-holder>ul>.ant-pagination-item-active{
    font-size: 10px;
    font-weight: 500;
    color: white;
    background-color: 545454;
    border-color: #E8E8E8;
}

.page-holder>ul>.ant-pagination-next>button,
.page-holder>ul>.ant-pagination-prev>button{
    color: #545454;
    font-weight: bold;
    background-color: #ffffff;
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

.page-holder>ul>.ant-pagination-options{
    display: none;
}

.icon-size{
    font-size: 50px;
    color: #1FB3AB;
    position: sticky;
    right: 0;
    left: 90vw;
    bottom: 5vh;
}
.bg-norecord{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://sdrestdemo.iorta.in/assets/078e54aa9d.png');
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 220px;
    height: 240px;
}
.norecord-title{
    margin-bottom: 90px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color:#666666;
    font-weight: 600;
}