.mainflex {
  display: flex;
  flex-direction: column;

  /* background-color: yellow; */
  height: 100vh;
  /* flex: 1; */
}
.active-card-flex {
  flex: 1.5;
  display: flex;
  /* background-color: blue; */
  flex-direction: row;
  margin-left: 5%;
}
.contest-flex {
  /* display: flex;
  flex-direction: row; */
  display: flex;
  flex: 5;
  /* background-color: #a52a2a; */
  flex-direction: column;
  margin-left: 10px;
  /* margin-top: 10px; */
  /* margin-left: 30px;
  margin-top: 20px; */

  /* margin: 10; */
}
.contest-flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.top-card-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: royalblue; */
}

.contest-card {
  max-width: 650px;
  max-height: 115px;
  flex: 1;
  flex-direction: column;
  /* margin-top: 20px;
  margin-right: 30px; */
  display: flex;
  border-radius: 6px;
  margin-left: 14px;
  margin-top: 10px;
}
.text-underline {
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  /* width: fit-content; */
  font-weight: bold;
  font-size: 14px;
}
.text-date-style {
  font-weight: bold;
  font-size: 12px;
}
.progress-bar-section-style {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.active-card-description {
  max-width: 13%;
  max-height: 45%;
  flex: 1;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 30px;
  /* margin-left: 7%; */
  /* height: 10%; */
}
.bottom-card-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  /* justify-content: space-between; */
}
.button {
  /* background-color: #637987; */
  background-color: #687984;
  border: none;
  color: white;
  padding-bottom: 3.3px;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 100px;
  font-size: 14px;
  height: 28px;
  border-radius: 5px;
  /* margin: 4px 2px; */
  cursor: pointer;
}
.inner-progress-bar-percentage {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 1.6px;
}
.card-content-flex {
  padding-left: 30%;
}
.progress-percentage-style {
  font-size: 14px;
  margin-left: 10px;
}
.card-content-style {
  padding-left: 24px;
  padding-top: 40px;
  font-weight: bold;
  font-size: 12px;
}
