.form-container{
    background-color: #fafafa;
    /* margin-left: -50px; */

    
}

.form-title{
    font-size: 16px;
    font-weight: 600;
}
.mb-2:nth-child(3){
    margin-bottom: 1rem;
}
.statsLead .input-box {
    border: none;
    box-shadow: none;
    border-bottom:rgb(153, 153, 153) 1px solid;
}
 .select-box{
    border-bottom:rgb(153, 153, 153) 1px solid ;
}
.m0a{
    margin: 0 auto;
    /* margin-left: -150px; */
    /* position: relative; */
    /* left: 10rem; */
}
.m0b{
    margin: 0 auto;
    margin-left: -55px;

}
/* .m0c{ */
    /* width: auto;
    margin-left: 10rem; */
    /* display: flex; */
    /* background-color: #fff;
    justify-content: center;
    align-items: center; */
/* } */


.p10{
    padding: 20px;
    height: 5rem;
    margin-left: 13.5rem;
}
.p20{
    padding: 20px;
    height: 5rem;
    margin-left: 24.5rem;
}
.p30{
    padding: 20px;
    height: 5rem;
    margin-left: 4.688rem;
}
.d0b{
    padding: 20px;
    height: 5rem;
    margin-left: 23rem;
}
.p40{
    padding: 40px;
    margin-left: 20px;
}
.p50{
    padding: 40px;
    margin-left: 4.688rem;
}
.d0a{
    padding: 20px;
    width: 45rem;
    margin-left: 20px;
    height: auto;

}
.form-body,
.status,
.summary,
.btn-container{
    border-radius: 5px;
    background-color: #fff;
    box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form-btn-container{
    padding: 40px 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow:  1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* .contact-detail-form{
    display: flex;
    flex-wrap: wrap;
    gap:0 10px;
}
.contact-detail-form>.ant-col{
    flex:0 1 49%;

} */
.form-item-name{
    margin-bottom: 5px;
}
#leadStatus{
    height: 49px;
}

/* .input-box,.input-box:focus{
    padding: 10px !important;
    box-shadow: 0px 2px 2px #00000029;
    border: 1px solid rgb(230,233,235);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
} */
.ant-form-item-label,.ant-form-item{
    padding: 0px !important;
}
.btn-container{ 
    display: flex;
    justify-content: flex-end;
    gap:1.5rem;
    height: 10vh;
}
.label-color>.ant-form-item-label,.lead-summ-label{
    color: #7c7a7a;
}

.botton-label{
    margin-bottom: 8px;
}
.lead-manager{
    margin-bottom: 16px;
}


/* summary details */
.lead-summ-label,.lead-detail{
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* font-style: bold; */
    /* font-family: robotoregular; */
}
.lead-date{
    font-size: 11px;
}


@media (max-width:524px) {
    .p10{
        padding: 20px;
        height: 5rem;
        margin-left: 0rem;
    }
    .m0b{
        margin: 0;
        margin-left: 0px;
    
    }
    .p30{
        padding: 20px;
        height: 5rem;
        margin-left: 0rem;
    }
    .form-container2{
        width: 100%;
    }
    .p50{
        padding: 20px;
        margin-left: 0rem;
    }
    .p20{
        padding: 20px;
        height: 5rem;
        margin-left: 0rem;
    }
    .m0a{
        margin: 0;
        /* margin-left: -150px; */
        /* position: relative; */
        /* left: 10rem; */
    }
    .p40{
        padding: 20px;
        margin-left: 0px;
    }
    .d0a{
        margin-left: 0px;
        padding: 20px;
        width: none;
        height: auto;
    }
    .d0b{
        margin-left: 0px;
        display: flex;
        
    }
   
    .contact-detail-form>.ant-col{
        flex:0 1 100%;
        
    }
    .btn-container{
        display: block;
        padding: 0;
    }
    .btn-container>.ant-btn{
        margin: 15px auto;
    }
    .btn-center{
        margin: 0 auto;
    }
    .cta-btn{
        margin-bottom: 1rem;
    }
    .btn-color{
        color: rgb(59, 55, 30)!important;
    }
    .ant-cascader-menu{
        height: auto;
    }
    .ant-cascader-menu-item{
        padding: 5px 5px;
        white-space: normal;
        width: 120px;
        line-height: 18px;
    }
   .last-btn-1{
    position: relative;
   }
   .last-btn-2{
    position: relative;
    right: 20px;
   }
   .last-btn-3{
    position: relative;
    left: 420px;
    bottom: 72px;
   }
   .last-ss-btn-2{
    right: 20px;
position: relative;
   }
   .last-btn-22{
    position: relative;
    left: 120px;
   }
   .last-btn-33{
    position: relative;
    left: 550px;
    bottom: 70px;
   }
}

@media (max-width:320px) {
    .p40{
        padding: 20px;
        margin-left: 0px;
    }
    .p30{
        padding: 20px;
        height: 5rem;
        margin-left: 0rem;
    }
    .form-container2{
        width: 100%;
    }
    .m0a{
        margin: 0 auto;
        /* margin-left: -150px; */
        /* position: relative; */
        /* left: 10rem; */
    }
}
