.main-body{
    background-image: url('../../images/Bgimage.png');
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ant-btn-primary {
    background-color: #1FB3AB;
} */
.login-card{
   width: 400px;
   background-color: #3e3e3e;
}
.logo{
    height: 80px;
}
.forgotpasswordtext{
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
}
.loginbtn{
    background: #1FB3AB !important;
    color: #fff;
    height: 40px;
    border-color: transparent;
}
.main-card{
    background-color: transparent;
}

@media screen and (max-width:420px){
    .login-card{
        width: 100% !important;
    }
}
