.main-body{
    background-image: url('../../images/Bgimage.png');
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ant-btn-primary {
    background-color: #1FB3AB;
} */

.card-list .ant-card-body {
    padding:5px
}

.main{
    background-image: url('../../images/Bgimage.png');
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


 /* .ant-card-body{
    padding: 10 !important;
} */


.login-card{
   width: 400px;
   background-color: #3e3e3e;
}
.logo{
    height: 80px;
}
.forgotpasswordtext{
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
}
.loginbtn{
    background: #1FB3AB !important;
    color: #fff;
    height: 40px;
    border-color: transparent;
}
.main-card{
    background-color: #3e3e3e;
}
.login-card .ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #3e3e3e;
    border-radius: 2px;
}

@media screen and (max-width:420px){
    .login-card{
        width: 100% !important;
    }
}
