.main-body{
    padding: 200px;
    background-image: url('../../images/Bgimage.png');
    overflow: hidden;
    height: 100vh;
}
.login-card{
    width: 400px;
    margin: auto;
    justify-content: center;
     background-color: #3e3e3e;
 }
.horline{
    margin:0;
    padding: 0; 
    background-color: #1FB3AB !important; 
    border: 0; 
    height:1px;
    width: 200%;
}
.main-card{
    background-color: transparent;
}
.logo{
    text-align: center;
    width: 30px;
}
.sendlinkbtn{
    background: #1FB3AB !important;
    color: #fff !important;
    height: 40px;
    border-color: transparent;
}
.forgotpasstext{
    text-align: center;
    color: #1FB3AB;
    font-size: 28px;
}
.Logintext {
    font-size: 16px;
    color: #fff;
    text-decoration: underline !important;
    cursor: pointer;
}