@import "~antd/dist/antd.css";
/* .export-btn-holder{
    position: relative;
} */

body {
  overflow-x: auto;
}

/* 
@media (max-width: 419px) {
  body {
    width: 123% !important;
  }
}

@media (max-width: 341px) {
  body {
    width: 135% !important;
  }
}

@media (max-width: 340px) {
  body {
    width: 165% !important;
  }
}

@media (max-width: 251px) {
  body {
    width: 167% !important;
  }
}

@media (max-width: 200px) {
  body {
    width: 205% !important;
  }
} */
